.Navbar {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  font-size: 18px;
  align-content: flex-start;
  height: 60px;
}

.CollapseBackgroundDark {
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}

.BlackBurger {
  -webkit-filter: brightness(1) invert(1);
  filter: brightness(1) invert(1);
}

.Link {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: white !important;
}

.WhiteLink::after {
  background-color: white !important;
  color: white !important;
}

.WhiteLink:hover::after,
.WhiteLink:focus::after {
  background-color: white !important;
  color: white !important;
}

.Link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.Link:hover::after,
Link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.Link.active::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.FullNav {
  height: 100vh !important;
}

@media only screen and (max-width: 991px) {
  .Navbar {
    height: 80px;
  }
}

/* Add the Ezra Song styles */
.ezra-song {
  font-size: 20px;
  margin-right: auto;
}

/* Adjust the margin of the links */
.Navbar.Collapse .nav > li {
  margin-right: 10px;
}

@media only screen and (max-width: 991px) {
  /* Additional styles for smaller screens */

  .ezra-song {
    font-size: 16px;
  }

  .Navbar.Collapse .nav > li {
    margin-right: 5px;
  }
}
